.product-card {
  width: 200px;
  min-width: 200px;
  height: 380px;
  min-height: 380px;
  padding: 1rem;

  .product-image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .product-title-wrapper {
    height: 40px;

    .product-title {
      font-size: 1rem;
      margin-top: 20px;
      justify-content: start;
      line-height: 1rem;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin-top: 1rem;
      margin-bottom: 1rem;
      justify-content: start;
      font-weight: 500;
      line-height: 1rem;
      line-clamp: 2;
      box-orient: 3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .product-price {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.product-actions {
  button {
    width: 100%;
  }
}
