<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Bootcamp Eldorado: Cart Challenge</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Open Cart"
          (click)="sidenav.toggle()"
        >
          <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Products -->
    <div
      *ngIf="products$ | async as products; else loading"
      class="products-wrapper"
    >
      <mat-card class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <img [src]="product.images[0]" [alt]="product.title" />
        </div>
        <mat-card-content>
          <div class="product-title-wrapper">
            <h2 class="product-title">{{ product.title }}</h2>
          </div>
          <span class="product-rating"
            >Rating: {{ product.rating }}/5</span
          >
          <div class="product-price">R${{ product.price }}</div>
        </mat-card-content>
        <mat-card-actions class="product-actions">
          <button mat-flat-button color="primary" (click)="addToCard(product)">
            ADD TO CART
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #loading>
      <div class="loading">
        <ngx-skeleton-loader
          count="20"
          [theme]="{
            'border-radius': '25px',
            height: '400px',
            width: '240px',
            border: '20px solid #fafafa'
          }"
        ></ngx-skeleton-loader>
      </div>
    </ng-template>
  </mat-sidenav-content>

  <!-- Cart -->
  <mat-sidenav
    #sidenav
    mode="over"
    position="end"
    fixedInViewport="true"
    fixedTopGap="top"
    fixedBottomGap="bottom"
  >
    <section class="cart-container">
      <div>
        <button
          mat-icon-button
          aria-label="Close Cart"
          (click)="sidenav.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <h2>Cart</h2>
      </div>

      <div class="cart-content-wrapper">
        <ng-container *ngIf="!checkEmptyCart(); else cartEmpty">
          <ul class="stocked-cart" *ngFor="let item of cartItems; index as i">
            <li class="cart-item">
              <div class="item-image-wrapper">
                <img [src]="item.info.images[0]" [alt]="item.info.title" />
              </div>
              <div class="item-information">
                <h3>{{ item.info.title }}</h3>

                <mat-select [formControl]="productAmount" panelClass="select">
                  <mat-option
                    *ngFor="let amount of amountOfProducts"
                    [value]="amount"
                    (click)="handleProductAmountChange(item, i)"
                    >{{ amount }}</mat-option
                  >
                </mat-select>

                <span>{{ item.totalPrice }}</span>
              </div>
              <div class="item-actions">
                <button mat-icon-button (click)="deleteItem(item.info.id)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </ng-container>
      </div>
    </section>

    <!-- Cart checkout-->
    <div class="cart-checkout">
      <div class="cart-price-summary">
        <p>Subtotal</p>
        <span>{{ subtotal }}</span>
      </div>
      <div class="cart-price-summary">
        <h3>Total</h3>
        <span>{{ cartTotal }}</span>
      </div>
      <button mat-flat-button color="primary" class="bnt-checkout">
        Checkout
      </button>
    </div>
  </mat-sidenav>

  <ng-template #cartEmpty>
    <div class="empty-cart">
      <p>Your cart is empty.</p>
      <mat-icon>shopping_cart</mat-icon>
    </div>
  </ng-template>
</mat-sidenav-container>
