<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" fixedTopGap="top" fixedBottomGap="bottom">
    <section class="cart-container">
      <div>
        <button mat-icon-button aria-label="Fechar carrinho" (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
        <h2>Carrinho</h2>
      </div>
      <div class="card-content">
        <div *ngIf="checkEmptyCart()" class="empty-cart">
          <p>Seu carrinho está vazio</p>
          <mat-icon>shopping_cart</mat-icon>
        </div>
        <div *ngIf="!checkEmptyCart()" class="stocked-cart">
          <div class="cart-item" *ngFor="let item of cartItems">
            <div>
              <img [src]="item.image" [alt]="item.title" />
              {{ item.title }}
            </div>
            <button mat-icon-button>
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Bootcamp Eldorado: Carrinho Challenge</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Abrir carrinho" (click)="sidenav.toggle()">
          <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="products-wrapper">
      <mat-card class="product-card" *ngFor="let product of products$ | async">
        <div class="product-image">
          <img [src]="product.image" [alt]="product.title" />
        </div>
        <mat-card-content>
          <div class="product-title-wrapper">
            <h2 class="product-title">{{ product.title }}</h2>
          </div>
          <span class="product-rating">Rating: {{ product.rating.rate }}/5</span>
          <div class="product-price">R${{ product.price }}</div>
        </mat-card-content>
        <mat-card-actions class="product-actions">
          <button mat-flat-button color="primary" (click)="addToCard(product)">Add ao carrinho</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
