<div *ngIf="products$ | async as products; else loading">
  <section class="banner-home">
    <swiper
      [spaceBetween]="30"
      [centeredSlides]="true"
      [autoplay]="{
        delay: 4000,
        disableOnInteraction: false
      }"
      [pagination]="{
        clickable: true
      }"
      class="mySwiper"
    >
      <ng-template swiperSlide>Slide 1</ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
    </swiper>
  </section>

  <section class="eletronics-container">
    <h2 class="subtitle">Eletrônicos</h2>
    <swiper
      [slidesPerView]="2"
      [spaceBetween]="20"
      [navigation]="true"
      [loop]="true"
      [breakpoints]="{
        '768': {
          slidesPerView: 3,
          spaceBetween: 20
        },
        '1024': {
          slidesPerView: 4,
          spaceBetween: 10
        },
        '1300': {
          slidesPerView: 5,
          spaceBetween: 10
        }
      }"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let eletronic of eletronics">
        <app-card
          [product]="eletronic"
          (addProductToCart)="addProductToCart($event)"
        >
        </app-card>
      </ng-template>
    </swiper>
  </section>

  <section class="eletronics-container">
    <h2 class="subtitle">Cuidados com a pele</h2>
    <swiper
      [slidesPerView]="2"
      [spaceBetween]="20"
      [navigation]="true"
      [loop]="true"
      [breakpoints]="{
        '768': {
          slidesPerView: 3,
          spaceBetween: 20
        },
        '1024': {
          slidesPerView: 4,
          spaceBetween: 10
        },
        '1300': {
          slidesPerView: 5,
          spaceBetween: 10
        }
      }"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let item of fragances">
        <app-card
          [product]="item"
          (addProductToCart)="addProductToCart($event)"
        >
        </app-card>
      </ng-template>
    </swiper>
  </section>
</div>

<ng-template #loading>
  <div class="loading">
    <ngx-skeleton-loader
      count="20"
      [theme]="{
        'border-radius': '25px',
        height: '400px',
        width: '240px',
        border: '20px solid #fafafa'
      }"
    ></ngx-skeleton-loader>
  </div>
</ng-template>
