<div
  *ngIf="products$ | async as products; else loading"
  class="products-wrapper"
>
  <mat-card class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img [src]="product.images[0]" [alt]="product.title" />
    </div>
    <mat-card-content>
      <div class="product-title-wrapper">
        <h2 class="product-title">{{ product.title }}</h2>
      </div>
      <span class="product-rating">Rating: {{ product.rating }}/5</span>
      <div class="product-price">{{ product.price | currency }}</div>
    </mat-card-content>
    <mat-card-actions class="product-actions">
      <button
        mat-flat-button
        color="primary"
        (click)="addProductToCart(product)"
      >
        ADD TO CART
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #loading>
  <div class="loading">
    <ngx-skeleton-loader
      count="20"
      [theme]="{
        'border-radius': '25px',
        height: '400px',
        width: '240px',
        border: '20px solid #fafafa'
      }"
    ></ngx-skeleton-loader>
  </div>
</ng-template>
