<div
  *ngIf="product$ | async as product; else handleErrors"
  class="product-wrapper"
>
  <div class="back-home">
    <a routerLink="['']">Home</a>
  </div>
  <section class="product">
    <div class="product-image">
      <img [src]="product.images[0]" alt="'Image of ' + product.title" />
    </div>
    <div class="product-info">
      <h1 class="product-title">{{ product.title }}</h1>
      <h2 class="product-brand">{{ product.brand }}</h2>
      <div class="product-rating">
        <span>{{ product.rating }}</span>
      </div>

      <mat-divider></mat-divider>
      <div class="product-price">{{ product.price | currency }}</div>
      <div class="product-amount">
        <input [formControl]="productAmount" type="number" min="1" />
      </div>
      <mat-divider></mat-divider>
      <div class="product-description">
        <h4 class="">About this item</h4>
        <p>{{ product.description }}</p>
      </div>
    </div>
    <div class="action-btn">
      <button
        mat-flat-button
        color="primary"
        (click)="addProductToCart(product)"
      >
        ADICIONAR AO CARRINHO
      </button>
    </div>
  </section>
</div>

<ng-template #handleErrors>
  <div *ngIf="errors$ | async; else loading">Product not found.</div>
  <ng-template #loading> <span>Loading...</span> </ng-template>
</ng-template>
